.card_container {
  box-shadow: 0px 3px 24px 0px #84848429, 0px -3px 6px 0px #0000000f inset,
    0px 3px 1.7000000476837158px 0px #ffffff00 inset;
  border-radius: 15px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: white;

  .top {
    display: flex;
    align-items: center;
    gap: 25px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      object-fit: cover;
    }
    p {
      font-size: 25px;
      font-weight: 500;
      color: #000000;
    }
  }
  .middle {
    p {
      text-overflow: ellipsis;
    }
  }
  .bottom {
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    color: #666666;
    font-size: 14px;
  }
}

.search_input {
  border: 1px solid red;
}
