.wrapper {
  height: 416px;
  background: #003145;

  .container {
    padding: 20px 0px;
    background-image: url("../../../public/images/waves.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    color: white;

    .left_header_top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left_header_top_left {
        display: flex;
        gap: 40px;
        align-items: center;

        img {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 10px;
        }
        .title {
          font-size: 42px;
          font-weight: 600;
        }
      }
      .leaft_header_top_options {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    .subtitle {
      font-size: 17px;
    }
    .header_bottom {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      .options {
        display: flex;
        align-items: center;
        .divider {
          width: 2px;
          height: 30px;
          background: #255973;
          margin: 0px 20px;
        }
      }
    }
  }
}
.modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    .title {
      font-size: 20px;
      font-weight: 500;
    }
    .text {
      font-size: 14px;
      font-weight: 400;
      margin:10px 0px;
    }
    .options {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
