.container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;

  .small_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 16px;
    font-weight: 400;
  }

  .right {
    display: flex;
    flex-direction: column;
    .subtitle {
      font-size: 17px;
      font-weight: 400;
      line-height: 26px;
    }
    .title {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin: 10px 0;
    }
    .date {
      font-size: 14px;
      font-weight: 500;
      color: #858585;
    }
  }
}
